@import "../../sass/global";

.nav {
  width: 100%;
  margin-bottom: 0.5em;
  box-shadow: $shadow;
  &-container {
    width: 100%;
    max-width: $container-size;
    @include flexbox(row, center, center);
    padding: 1.4em 1em;
    margin: auto;
    &-header{
      &-icon{
        width: 20px;
        margin: 0 1px;
      }
    }
  }
}
