@import "./sass/global";

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: $color1;
  color: #fff;
  // text-transform: uppercase;
}

